.mkd-portfolio-list-holder-outer.mkd-ptf-gallery {

	.mkd-ptf-list-paging {
		margin-top: 65px;
	}

	article {
		.mkd-ptf-item-title {
			position: relative;
			line-height: 34px;
		}

		.mkd-ptf-item-title,
		.mkd-like {
			z-index: 3;
		}

		.mkd-ptf-category-holder {
			font-family: $headings-font-family;
			color: #808080;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
		}

		.mkd-ptf-item-bottom {
			position: relative;
			margin-top: 5px;

			.mkd-ptf-category-holder {
				padding-right: 50px;
			}

			.mkd-like {
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.mkd-ptf-item-image-holder {
			overflow: hidden;
		}

		.mkd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		span.mkd-ptf-portfolio-plus {
			font-size: 35px;
			font-weight: 400;
			color: #5f5f5f;
			display: block;
		}

		.mkd-ptf-item-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;

			@include mkdTransition(opacity 0.35s cubic-bezier(0.61, 0.92, 0, 0.21));
		}

		.mkd-ptf-item-text-overlay-inner {
			@include mkdTableLayout;
		}

		&:hover {
			.mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1));
			}
		}

		.mkd-ptf-item-icons-holder {
			margin: 10px 0;
		}
	}

	&:not(.mkd-ptf-cursor-follow) {
		.mkd-ptf-item-text-overlay-inner {
			@include mkdTransform(translate3d(0,10px,0));
			opacity: 0;
			-webkit-transition: -webkit-transform .0s .35s cubic-bezier(0.61, 0.92, 0, 0.21), opacity .35s cubic-bezier(0.61, 0.92, 0, 0.21);
			transition: transform .0s .35s cubic-bezier(0.61, 0.92, 0, 0.21), opacity .35s cubic-bezier(0.61, 0.92, 0, 0.21);
		}

		.mkd-ptf-item-image-holder img {
			@include mkdTransition(all .35s cubic-bezier(0.61, 0.92, 0, 0.21));
			@include mkdTransform(translateZ(0));
		}

		article:hover {
			.mkd-ptf-item-text-overlay-inner {
				@include mkdTransition(all .35s cubic-bezier(0.61, 0.92, 0, 0.21));
				@include mkdTransform(scale(1) translateZ(0));
				opacity: 1;
			}

			.mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1) translateZ(0));
			}
		}

		&.mkd-info-left {

			img {
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
			}

			article:hover .mkd-ptf-item-image-holder img {
				@include mkdTransform(scale(1.1) translateZ(0));
			}
		}
	}

	&.mkd-ptf-cursor-follow {
		article {
			overflow: hidden;
		}
		.mkd-ptf-item-text-overlay {
			top: -100%;
			opacity: 1;
		}
	}

	&.mkd-hover-dark {
		.mkd-ptf-item-text-overlay {
			background-color: rgba(26, 26, 26, 0.85);
		}
		article {
			.mkd-ptf-item-title {
				> a {
					@include mkdTransition(opacity .35s cubic-bezier(0.61, 0.92, 0, 0.21));
				}
				color: #fff;
				&:hover {
					> a {
						color: inherit;
						opacity: .85;
					}
				}
			}

			.mkd-ptf-category-holder,
			span.mkd-ptf-portfolio-plus {
				color: #fff;
			}
		}
	}

	&.mkd-hover-light {
		.mkd-ptf-item-text-overlay {
			background-color: rgba(255, 255, 255, 0.7);

			.mkd-ptf-portfolio-overlay-icon {
				color: #3b3b3b;
			}
		}
		article {
			.mkd-ptf-item-title {
				> a {
					color: #3b3b3b;
					@include mkdTransition(opacity .35s cubic-bezier(0.61, 0.92, 0, 0.21));
				}
				&:hover {
					> a {
						opacity: .85;
					}
				}
			}
		}
	}
}