/* Portfolio standard styles - begin
   ========================================================================== */
.mkd-portfolio-list-holder-outer.mkd-ptf-standard {

	.mkd-ptf-item-image-holder {
		margin-bottom: 13px;
		overflow: hidden;

		img {
			@include mkdTransition(all .2s ease-out);
		}
	}

	.mkd-ptf-item-title {
		margin-bottom: 10px;
		text-align: center;
		font-size: 18px;
		letter-spacing: 1.5px;
	}

	.mkd-ptf-item-excerpt p {
		margin: 0;
	}

	.mkd-ptf-item-bottom {
		position: relative;
		padding-top: 9px;
		border-top: 1px solid #f2f2f2;
		margin-top: 17px;

		.mkd-ptf-category-holder {
			padding-right: 50px;
		}

		.mkd-like {
			position: absolute;
			right: 0;
			top: 10px;
		}
	}

	.mkd-ptf-category-holder {
		font-family: $headings-font-family;
		color: #808080;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
	}

	.mkd-ptf-item-hover-holder .mkd-ptf-portfolio-overlay-bg {
		background-color: rgba(0, 0, 0, .85);
	}

	.mkd-portfolio-list-holder {
		.mkd-ptf-portfolio-overlay-icon {
			color: #fff;
			opacity: 0;
			@include mkdTransform(translate(-50%, -50%) scale(.6));
			@include mkdTransition(all .2s ease-out);
			font-size: 60px;
			font-weight: 700;
			font-family: $headings-font-family;
		}

		.mkd-ptf-item-image-holder:hover {

			img {
				@include mkdTransform(scale(1.3));
				@include mkdTransition(all .3s ease);
			}
			.mkd-ptf-portfolio-overlay-icon {
				opacity: 1;
				@include mkdTransform(translate(-50%, -50%) scale(1));
			}
		}
	}

	&.mkd-hover-light {
		.mkd-ptf-item-hover-holder {
			.mkd-ptf-portfolio-overlay-bg {
				background-color: rgba(#fff, 0.95);
			}

			.mkd-ptf-portfolio-overlay-icon {
				color: #676968;
			}
		}

	}

	&.mkd-hover-dark {
		.mkd-ptf-item-hover-holder {
			.mkd-ptf-portfolio-overlay-bg {
				background-color: rgba(#000, 0.95);
			}

			.mkd-ptf-portfolio-overlay-icon {
				color: #fff;
			}
		}

	}

}

/* Portfolio standard styles - end
   ========================================================================== */