/* ==========================================================================
# Portfolio Single Small Images - begin
========================================================================== */

.small-images {
	.mkd-portfolio-media .mkd-portfolio-single-media {
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2.mkd-portfolio-item-title {
		margin-top: 0;
		margin-bottom: 0;
	}

	.mkd-follow-portfolio-info {
		position: relative;

		//@include mkdTransition(margin-top 0.2s ease);
	}
}

/* ==========================================================================
# Portfolio Single Small Images - end
========================================================================== */