/* ==========================================================================
# Side area style - start
========================================================================== */

//TODO Delete commented code

/* Side area general style - start
========================================================================== */

.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header) .mkd-side-menu-button-opener,
.mkd-light-header.mkd-header-style-on-scroll .mkd-page-header .mkd-side-menu-button-opener,
.mkd-top-bar-light .mkd-top-bar .mkd-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
}

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header) .mkd-side-menu-button-opener,
.mkd-dark-header.mkd-header-style-on-scroll .mkd-page-header .mkd-side-menu-button-opener,
.mkd-top-bar-dark .mkd-top-bar .mkd-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
}

.mkd-side-menu-button-opener {
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include mkdTransition(initial);
	color: #3b3b3b;
}

.mkd-side-menu-button-opener.medium {
	display: inline-block;
	font-size: 21px;
	line-height: 30px;
	height: 30px;
	width: 19px;
}

.mkd-side-menu-button-opener.large {
	display: inline-block;
	font-size: 28px;
	line-height: 34px;
	height: 34px;
	width: 24px;
}

.mkd-side-menu-button-opener.mkd-side-menu-button-opener-default {
	width: 18px;
	vertical-align: baseline;
}

.mkd-side-menu-button-opener > .mkd-side-area-icon {
	display: inline-block;
	line-height: inherit;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	position: relative;
	top: -3px; //because of the border bottom on lines

	.mkd-sai-first-line,
	.mkd-sai-second-line,
	.mkd-sai-third-line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-bottom: 2px solid;

		@include mkdTransition(all 0.35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

	.mkd-sai-first-line {
		@include mkdTransform(translateY(-5px));
	}

	.mkd-sai-third-line {
		@include mkdTransform(translateY(5px));
	}
}

.mkd-side-menu-button-opener {
	&:hover,
	&.opened {
		color: $first-main-color;

		.mkd-sai-first-line {
			top: 5px;
			left: 5px;
			-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
			@include mkdTransform(rotate(-45deg) scaleX(.6) translateX(6px));
		}

		.mkd-sai-third-line {
			top: -4px;
			left: 5px;
			-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
			@include mkdTransform(rotate(45deg) scaleX(.6) translateX(2px));
		}
	}
}

.mkd-side-menu-button-opener > i {
	display: inline-block;
	height: inherit;
	line-height: inherit;
	vertical-align: bottom;
	width: inherit;
	text-align: center;

	@include mkdTransition(opacity 0.15s ease-out, color 0.15s ease-out);
}

.mkd-side-menu-button-opener span.social_icon {
	font-family: 'ElegantIcons' !important;
}

.mkd-side-menu-button-opener i.social_icon {
	font-family: 'FontAwesome', serif !important;

}

.mkd-side-menu {
	background-color: #fff;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 30px 50px;
	position: fixed;
	top: 0;
	right: -270px;
	width: 210px;
	z-index: 9999;
	-webkit-backface-visibility: hidden;

	.mkd-image-in-box h4.mkd-item-title a {
		color: #424141;
		font-size: 18px;
		font-family: $default-font-family;
	}

	h4 {
		margin: 0 0 15px 0;
		color: #fff;
	}

	h5 {
		margin: 0 0 26px 0;
		color: #373737;
		font-weight: 400;
	}
	h6 {
		margin: 0 0 26px 0;
		color: #373737;
	}

	.widget {
		margin: 0 0 30px;

		li {
			position: relative;
			list-style-type: none;
		}

		ul li.page_item_has_children,
		ul li.menu-item-has-children {
			padding-right: 0;
			border-bottom: none;
		}

		ul ul {
			padding: 6px 0 0 10px;
		}

		&.mkd-latest-posts-widget h5 {
			color: #373737;
		}

	}

	a:not(.qbutton),
	li,
	span,
	p,
	.widget_rss li a.rsswidget {
		color: #9d9d9d;
		line-height: 31px;
		@include mkdTransition(color 0.15s ease-out);
	}

	.widget_calendar {
		font-size: 14px;

		a {
			color: #fff;
		}

		caption,
		th,
		td {
			color: #9d9d9d;
			line-height: 31px;
			@include mkdTransition(color 0.15s ease-out);
		}

		thead tr,
		tbody tr,
		tbody td {
			border-color: #9d9d9d;
		}

	}

	.mkd-side-menu-title {
		display: block;
		margin: 0 0 12px;
	}

	.widget_nav_menu {

		li:last-child,
		li a {
			margin: 0;
		}

	}

	.mkd-close-side-menu-holder {
		display: table;
		height: 90px;
		position: absolute;
		top: 0px;
		right: 23px;
		z-index: 1000;
	}

	.mkd-close-side-menu-holder-inner {
		display: table-cell;
		vertical-align: middle;
	}

	a.mkd-close-side-menu {
		display: inline-block;
		height: 35px;
		width: 35px;
		padding: 0 2px 4px 0; /* in order to align icon in horizontal and vertical center */
		z-index: 1000;

		@include mkdTransition(transform .5s ease);

		span {
			color: #9b9b9b;
			display: inline-block;
			font-size: 30px;
			height: 35px;
			line-height: 35px;
			position: relative;
			text-align: center;
			width: 35px;
		}

	}

	a.mkd-close-side-menu:hover {
		@include mkdTransform(rotate(180deg));
	}

	.widget .searchform input[type=text] {
		border-right: 0;
		float: left;
	}

	.widget .searchform input[type=submit] {
		border: none;
		outline: 0;
		font-family: 'Simple-Line-Icons';
		width: 51px;
		height: 51px;
		cursor: pointer;
		color: $first-main-color;
		background-color: transparent;
		border: 1px solid #ebebeb;
		border-left: none;
		font-size: 18px;

		@include mkdBorderRadius(0);
	}

	.widget.widget_archive select,
	.widget.widget_categories select,
	.widget .searchform input[type=text],
	.widget.widget_text select {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
		padding: 0 18px;
		height: 51px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		border: 1px solid #e5e5e5;

		@include mkdBoxSizing(border-box);
	}

	.mkd-working-hours-holder {
		background-color: transparent;
		box-shadow: none;
		padding: 14px 35px 0 0;

		.mkd-wh-day,
		mkd-wh-hours {
			font-size: 14px;
		}

		.mkd-wh-hours .mkd-wh-from {
			color: #303030;
			font-size: 14px;
		}

		.mkd-wh-item:last-child .mkd-wh-hours .mkd-wh-from {
			color: $first-main-color;
		}

		.mkd-wh-title-holder h4 {
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 30px;
		}

		.mkd-wh-item {
			border-bottom: 1px solid #f5f5f5;
			margin-bottom: 5px;
			padding-bottom: 10px;
		}

	}

	.widget.mkd-latest-posts-widget {
		margin-bottom: 50px;
	}

	h3.mkd-sidearea-widget-title {
		margin-bottom: 33px;
	}

	.widget_search {
		h3.mkd-sidearea-widget-title {
			margin-bottom: 21px;
		}
	}

}

.admin-bar .mkd-side-menu .mkd-close-side-menu-holder {
	top: 23px;
}

/* Side area general style - end
========================================================================== */

/* Side area slides over content style - start
========================================================================== */

.mkd-right-side-menu-opened {

	.mkd-wrapper,
	footer.uncover,
	.mkd-fixed-wrapper.fixed,
	.mkd-sticky-header,
	.mobile-header-appear .mkd-mobile-header-inner {
		left: -270px;
	}

}

.mkd-side-menu-slide-from-right {

	.mkd-wrapper {
		background-color: #fff;
		position: relative;
		z-index: 1000;

		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21));

		.mkd-cover {
			z-index: 0;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
			background: #000;

			@include mkdTransition(opacity .35s cubic-bezier(0.61, 0.92, 0, 0.21), background .35s cubic-bezier(0.61, 0.92, 0, 0.21), z-index .35s cubic-bezier(0.61, 0.92, 0, 0.21));

		}

	}

	.carousel-inner {
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

	.rev_slider_wrapper {
		left: 0px !important; //to prevent white space on left side of slider when closing
	}

	.mkd-side-menu {
		padding: 3% 70px 30px;
		top: 0;
		right: -29%;
		width: 29%;
		z-index: 9999;
		text-align: center;
		visibility: hidden;
		color: #999;

		@include mkdBoxSizing(border-box);
		@include mkdTransition(0.35s cubic-bezier(0.61, 0.92, 0, 0.21));

		.widget.widget_archive select,
		.widget.widget_categories select,
		.widget .searchform input[type=text],
		.widget.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #f8f8f8;
			padding: 0 18px;
			height: 51px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: none;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include mkdBoxSizing(border-box);
		}

		.widget .searchform input[type=submit] {
			outline: 0;
			font-family: 'Simple-Line-Icons';
			width: 51px;
			height: 51px;
			cursor: pointer;
			color: #939393;
			background-color: #f8f8f8;
			border: none;
			font-size: 18px;

			@include mkdBorderRadius(0);
		}

		.widget .searchform input[type=submit] {
			position: absolute;
			right: 70px;
		}

		.mkd-blog-list-holder.mkd-image-in-box h6.mkd-item-title a {
			color: #303030;
		}

		.mkd-blog-list-holder.mkd-image-in-box .mkd-item-date span {
			font-size: 14px;
			color: $first-main-color;
			font-family: $default-font-family;
		}

	}

	//	header.sticky,
	//	header.fixed_top_header .top_header
	.mkd-sticky-header,
	.mkd-fixed-wrapper.fixed {
		-webkit-transition: left .35s cubic-bezier(0.61, 0.92, 0, 0.21), -webkit-transform 0.33s ease;
		transition: left .35s cubic-bezier(0.61, 0.92, 0, 0.21), transform 0.33s ease;
	}

	footer.uncover {
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

}

.mkd-side-menu-slide-from-right.mkd-right-side-menu-opened {

	.mkd-cover {
		cursor: url('img/close.png'), pointer;
		z-index: 1002;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.mkd-side-menu {
		right: 0;
		visibility: visible;
	}

}

/* Side area slides over content style - end
========================================================================== */

/* Side area slides with content style - start
========================================================================== */

.mkd-side-menu-slide-with-content {
	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-overflow-scrolling: auto !important;

	@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21));

	.mkd-side-menu {
		position: fixed;
		visibility: visible;
		width: 470px;
		right: -470px;
		height: 100%;
		top: 0;
		z-index: 9999;

		@include mkdBoxSizing(border-box);
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	footer.uncover,
	.mkd-wrapper {
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

	.mkd-sticky-header,
	.mkd-fixed-wrapper.fixed,
	.mkd-mobile-header-inner {
		-webkit-transition: left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21), -webkit-transform 0.33s ease;
		transition: left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21), transform 0.33s ease;
	}

	.carousel-inner {
		left: 0 !important;
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

}

.mkd-side-menu-slide-with-content.mkd-side-menu-open {

	.mkd-wrapper,
	footer.uncover,
	.mkd-sticky-header,
	.mkd-fixed-wrapper,
	.mkd-mobile-header-inner {
		left: -470px;
	}

	.mkd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -470px !important;
	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	//	header.sticky {
	//		left: -470px;
	//	}

}

/* width 270px start */
.mkd-side-menu-slide-with-content.mkd-width-270.mkd-side-menu-open {

	.mkd-wrapper,
	footer.uncover,
	.mkd-sticky-header,
	.mkd-fixed-wrapper,
	.mkd-mobile-header-inner {
		left: -270px;
	}

	.mkd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -270px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -270px;
	//	}

}

.mkd-side-menu-slide-with-content.mkd-width-270 {

	.mkd-side-menu {
		width: 270px;
		right: -270px;
	}

}

/* width 270px end */

/* width 370px start */
.mkd-side-menu-slide-with-content.mkd-width-370.mkd-side-menu-open {

	.mkd-wrapper,
	footer.uncover,
	.mkd-sticky-header,
	.mkd-fixed-wrapper,
	.mkd-mobile-header-inner {
		left: -370px;
	}

	.mkd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -370px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -370px;
	//	}

}

.mkd-side-menu-slide-with-content.mkd-width-370 {

	.mkd-side-menu {
		width: 370px;
		right: -370px;
	}
}

/* width 370px end */

/* Side area slides with content style - end
========================================================================== */

/* Side area uncovering - start
========================================================================== */

.mkd-side-area-uncovered-from-content {

	.mkd-side-menu {
		background-color: #1b1b1b;
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		padding: 30px;
		position: fixed;
		top: 0;
		right: 0;
		width: 210px;
		z-index: 90;
		visibility: hidden;
	}

	.mkd-sticky-header,
	.mkd-fixed-wrapper.fixed {
		@include mkdTransition(left .35s cubic-bezier(0.61, 0.92, 0, 0.21), right .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	}

}

.mkd-side-area-uncovered-from-content.mkd-right-side-menu-opened {

	.mkd-sticky-header,
	.mkd-fixed-wrapper.fixed,
	.mkd-mobile-header-inner {
		left: -270px;
	}

}

/* Side area uncovering - end
========================================================================== */

/* ==========================================================================
# Side area style - end
========================================================================== */