@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
 
	.mkd-accordion-holder:not(.mkd-boxed) div.mkd-accordion-content {
		padding: 10px;
	}

	.mkd-accordion-holder .mkd-title-holder .mkd-accordion-mark {
		right: 10px;
	}
}
@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
	.mkd-accordion-holder .mkd-title-holder .mkd-tab-title,
	.mkd-accordion-holder .mkd-title-holder .mkd-tab-title-inner {
		line-height: 27px;
	}
}