/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote {
	position: relative;
	text-align: center;

	&.mkd-blockquote-shortcode {
		margin: 0 auto;
	}

	.mkd-icon-quotations-holder {
		display: block;
		width: 55px;
		margin: 17px auto 2px auto;
		font-size: 50px;
		color: $first-main-color;
		position: relative;

		&:after,
		&:before {
			content: '';
			width: 75px;
			height: 0px;
			border-bottom: 1px dashed $first-main-color;
			position: absolute;
			top: 50%;
		}

		&:after {
			left: 100%;
		}

		&:before {
			right: 100%;
		}
	}

	.mkd-blockquote-text {
		font-weight: 400;
		font-size: 18px;
		color: #505050;
		line-height: 30px;
		padding-left: 28px;
		margin-top: 5px;
		margin-bottom: 41px;
		font-family: $default-font-family;
	}

}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */