/* ==========================================================================
# Counter style - begin
========================================================================== */

.mkd-counter-holder {
	display: block;
	opacity: 0;
	@include mkdTransition(opacity 0.3s ease-in);
	padding: 20px 0;

	&.mkd-counter-light {
		.mkd-counter-icon,
		.mkd-counter,
		.mkd-counter-title,
		.mkd-counter-text {
			color: #fff;
		}

	}

	.mkd-counter {
		font-size: 60px;
		line-height: 1em;
		font-weight: 600;
		overflow: hidden;
		color: #373737;
		font-family: $headings-font-family;
		display: inline-block !important;
		line-height: 1em;
	}

	h4.mkd-counter-title {
		margin-top: 8px;
	}

	.mkd-counter-text {
		margin: 5px 0 0 0;
	}

	.mkd-counter-icon {
        color: $first-main-color;
		font-size: 48px;
		margin-bottom: 20px;
		@include mkdTransition(all 0.2s ease-in-out);
	}

	&:hover {
		.mkd-counter-icon {
			@include mkdTransform(translate3d(0,-10px,0));
		}
	}

}

.mkd-counter-holder-show {
	opacity: 1;
}

.mkd-counter-holder.left {
	text-align: left;
}

.mkd-counter-holder.right {
	text-align: right;
}

.mkd-counter-holder.center {
	text-align: center;
	padding: 20px 20px;
}

/* ==========================================================================
# Counter style - end
========================================================================== */