/* ==========================================================================
   Dropcaps shortcodes styles
   ========================================================================== */
.mkd-dropcaps {
	position: relative;
	display: inline-block;
	float: left;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 40px;
	color: $first-main-color;
	font-weight: 700;
	text-align: center;
	margin: 5px 10px 0 0;

	&.mkd-square {
		font-size: 25px;
		background-color: $first-main-color;
		color: #fff;
	}

	&.mkd-circle {
		@extend .mkd-square;
		@include mkdBorderRadius(2em);
	}
}

/* ==========================================================================
   Dropcaps shortcode end styles
   ========================================================================== */