/* ==========================================================================
   Google Map start style
   ========================================================================== */

.mkd-google-map-holder {
	position: relative;
	background-color:#ffffff;

	&.mkd-map-frame {
		padding:5px;

		@include mkdBoxShadow(1px 1px 3px #eeeeee);
	}
}

.mkd-google-map {

	display: block;
	width: 100%;
	height: 300px;

	iframe,
	object,
	embed {

		width: 100%;
		display: block;

	}

	img {
		max-width: none;
	}
}

.mkd-google-map-overlay {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */