.mkd-product-slider {
	margin: 0;
	width: 100.2%;
	position: relative;
	opacity: 0;

	li.product.type-product.mkd-woo-product-with-gallery:hover .mkd-woo-product-image-holder img {
		&:last-child {
			display: none;
		}

		&:first-child {
			opacity: 1;
		}
	}

	& > .woocommerce {
		margin: 0 -250px !important;
	}

	&.with-padding .products > li {
		padding: 0 30px;
		border: none !important;
	}

	.woocommerce .products {
		display: block;
	}

	.caroufredsel_wrapper {
		margin: 0px !important;
	}

	.products {
		margin: 0;
		padding: 0;
		list-style: none;
		zoom: 1;
		*height: 0;

		& > li.product {
			background-color: transparent;
			position: relative;
			margin: 0 !important;
			float: left;
			clear: none !important;
			@include mkdTransition(none);
			text-align: center;

			.mkd-woo-product-image-holder {
				pointer-events: none;

				img {
					@include mkdTransform(none !important);
				}
			}

			.star-rating {
				float: none;
				top: auto;
				left: 50%;
				@include mkdTransform(translateX(-50%));
				margin-bottom: 15px;
			}

			.mkd-product-list-product-title,
			.price {
				text-align: center;
				opacity: 1 !important;
				display: inline-block;
				padding: 0px 7px;
				margin: 0px !important;
			}

			.mkd-woo-product-info-holder {
				padding-top: 0;
				padding-bottom: 22px;
				background-color: transparent;
				@include mkdTransition(opacity 0.2s ease);
				opacity: 0 !important;
			}

			.mkd-btn {
				position: relative !important;
				left: auto !important;
				bottom: auto !important;
				opacity: 0 !important;
				background: transparent;
				border: 2px solid $first-main-color !important;
				padding: 8px 30px !important;
				font-size: 13px !important;
				text-transform: uppercase;
				background-color: $first-main-color;

				&:hover {
					border: 2px solid #ea7e09 !important;
					background-color: #ea7e09 !important;

					span {
						color: #fff;
					}
				}

				span {
					color: #fff;
					@include mkdTransition(color 0.2s ease);
				}
			}

			.mkd-out-of-stock,
			.mkd-onsale {
				right: 20%;
				top: 20%;
			}

			&.active {
				.mkd-woo-product-info-holder,
				.mkd-btn {
					opacity: 1 !important;
				}
			}
		}

		.product_link_over {
			z-index: -1;
		}
	}

	.caroufredsel-next {
		display: none; /* will be overriden by javascript */
	}

	.caroufredsel-direction-nav {
		list-style: outside none none;
		margin: 0;
		padding: 0;

		a {
			position: absolute;
			top: 45%;
			text-align: center;
			@include mkdTransition(background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out);
			box-sizing: initial;
			border-radius: 100px;
			background-color: rgba(0, 0, 0, 0.3);
			border-color: rgba(0, 10, 0, 1);
			color: #fff;
			font-size: 48px;
			height: 94px;
			line-height: 94px;
			margin-top: -47px;
			width: 94px;

			span {
				position: relative;
				top: 7px;
			}

			&.caroufredsel-next {
				&,
				.mkd-full-width .mkd-section-inner & {
					right: -47px;
				}

				.mkd-boxed &,
				.mkd-boxed .mkd-full-width .mkd-section-inner & {
					right: 0;
				}

				span {
					right: 20%;
				}
			}

			&.caroufredsel-prev {
				&,
				.mkd-full-width .mkd-section-inner & {
					left: -47px;
				}

				.mkd-boxed &,
				.mkd-boxed .mkd-full-width .mkd-section-inner & {
					left: 0;
				}

				span {
					left: 20%;
				}
			}
		}

		a:hover {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	.mkd-product-slider-pager {
		text-align: center;
		padding-top: 45px;

		a {
			display: inline-block;
			width: 12px;
			height: 12px;
			background-color: #adadad;
			border-radius: 50%;
			margin: 0 3px;
			vertical-align: middle;
			@include mkdTransition(background-color 0.15s ease);

			&.selected {
				background-color: $first-main-color;
			}

			span {
				display: none;
			}
		}
	}

	ul.products .product .added_to_cart {
		text-align: center;
		position: relative;
		padding: 10px 42px;
		font-size: 13px;
		text-transform: uppercase;
		line-height: 1.7em;
		opacity: 1 !important;
		background-color: $first-main-color;
		letter-spacing: 2px;
		font-weight: 700;
		margin-top: 12px;
		vertical-align: middle;
		overflow: visible;
	}

}