.mkd-process-holder {
	position: relative;

	.mkd-process-inner {
		@include mkdClearfix;
	}

	.mkd-number-holder-inner {
		font-size: 100px;
		font-weight: 200;
		color: $first-main-color;
		position: relative;
		height: 190px;
		width: 190px;
		line-height: 190px;
		top: 10px;
		background-color: #fff;
		border: 1px solid #e4e4e4;
		margin: 0 auto;

		@include mkdBorderRadius(50%);

		span {
			position: relative;
			z-index: 999;
		}
	}

	.mkd-process-bg-holder {
		position: absolute;
		top: 107px;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('img/process-bg.png') no-repeat 50% 0;
		z-index: -1;
		opacity: 0;
		margin: 0 10px;
	}

	.mkd-process-item-holder {
		text-align: center;
		float: left;
		width: 25%;

		.mkd-pi-content-holder {
			margin: 0 20px;
		}

		.no-touch & {
			opacity: 0;
		}

		.mkd-pi-holder-inner {
			margin: 0 auto;

			.mkd-border {
				position: absolute;
				border: 1px solid #f1f1f1;
				margin: 0 auto;
				height: 170px;
				width: 170px;
				background-color: #fff;
				top: 9px;
				left: 9px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

				@include mkdBoxShadow($shadow);
				@include mkdBorderRadius(50%);
			}
		}

		&.mkd-pi-push-right {
			.mkd-pi-holder-inner {
				float: right;
			}
		}
	}

	&.mkd-process-holder-items-three {
		.mkd-process-item-holder {
			width: 33.33%;
		}
	}

	&.mkd-process-multiple-highlights {
		.mkd-pi-holder-inner {
			width: 100%;
		}
	}

	.mkd-pi-title-holder {
		margin-bottom: 7px;
	}

	.mkd-pi-title {
		margin-top: 41px;
		margin-bottom: 15px;
	}

	.mkd-pi-text-holder {
		p {
			margin: 0;
		}
	}

	.mkd-pi-image-holder {
		background-color: #fff;

		display: inline-block;
		width: 214px;
		height: 214px;
		border: 1px solid #ebebeb;
		padding: 10px;
		margin-bottom: 20px;

		overflow: hidden;

		@include mkdBorderRadius(50%);
		@include mkdBoxSizing(border-box);

		img {
			vertical-align: middle;
			width: 100%;
		}
	}
}