.mkd-video-banner-holder {
	position: relative;

	a {
		display: block;
		color: #fff;
	}

	img {
		vertical-align: middle;
		width: 100%;
	}

	.mkd-video-banner-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		text-align: center;
		font-size: 65px;

		@include mkdTransition(background-color 0.2s ease-in-out);
	}

	.mkd-vb-overlay-tb {
		display: table;
		width: 100%;
		height: 100%;
	}

	.mkd-vb-overlay-tc {
		display: table-cell;
		vertical-align: middle;
	}

	.mkd-vb-play-icon {
	    display:block;
	    @include mkdTransition(all .3s cubic-bezier(.25,.1,.11,1.33));

	}

    &:hover {
		.mkd-vb-play-icon {
    		@include mkdTransform(scale(1.2));
		}
	}

}