.mkd-header-centered {
    .mkd-logo-area {
        background-color: #fff;

        @include mkdBoxSizing(border-box);
    }

    .mkd-menu-area {
		background-color: #fff;

		@include mkdBoxSizing(border-box);

		.mkd-vertical-align-containers {
			.mkd-position-center-inner {
				height: 100%;
			}
		}
	}

    .mkd-page-header .mkd-sticky-header {
        .mkd-position-left-inner{
            height: auto;
        }

        .mkd-position-right-inner{
            height: 100%;
        }
    }

	&.mkd-header-centered-logo-border-disable .mkd-logo-area,
	&.mkd-header-centered-menu-border-disable .mkd-menu-area,
    &.mkd-header-centered-logo-in-grid-border-disable .mkd-page-header .mkd-logo-area .mkd-grid .mkd-vertical-align-containers,
    &.mkd-header-centered-menu-in-grid-border-disable .mkd-page-header .mkd-menu-area .mkd-grid .mkd-vertical-align-containers{
		border-bottom: none !important;
	}
}

