@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.mkd-comment-holder {
	padding: 0 0 10px;
	margin: 0 0 0;

	.mkd-comment-image {
		display: block;
		width: 60px;
		float: left;
	}

	.mkd-comment-text {
		padding: 0 0 0 88px;

		.mkd-comment-info {
			display: inline-block;
			width: 100%;
			vertical-align: middle;

			span.mkd-comment-date {
				margin-left: 16px;
				font-family: $default-font-family;
				font-size: 14px;
				color: #999;
				float: left;
			}
		}

		.mkd-text-holder p {
			color: #999;
		}

		h3.mkd-comment-name {
			float: left;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	.mkd-comment {
		position: relative;
		padding: 28px 28px 23px 28px;
		background-color: #fafafa;
	}

	.mkd-comment-reply-holder {

		a {
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			vertical-align: top;
			margin-right: 25px;
			font-family: $headings-font-family;
		}

		a.comment-reply-link:before {
			content: "\39";
			font-family: 'ElegantIcons';
			font-size: 19px;
			color: $first-main-color;
			text-transform: none;
			position: relative;
			top: -1px;
		}
	}

}

.mkd-comment-list {
	list-style: none;
	position: relative;
	z-index: 150;
	padding-top: 13px;

	.children > li {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		display: inline-block;
		position: relative;
		width: 100%;
	}

	> li {
		margin-bottom: 27px;

		@include mkdBoxSizing(border-box);
	}

	.children {
		margin: 27px 0 0 0;
		padding: 0 0 0 112px;
	}
}

@include ipad-portrait {
	.mkd-comment-list {
		.children {
			padding: 0 0 0 30px;
		}
		.children > li:before {
			margin-right: 0;
			font-size: 35px;
		}
	}
}

@include phone-landscape {
	.mkd-comment-holder {
		.mkd-comment-image {
			display: none;
		}

		.mkd-comment-text {
			padding: 0;

			h3.mkd-comment-name {
				float: none;
				margin-top: 10px;
			}

			.mkd-comment-info span.mkd-comment-date {
				margin-left: 0;
			}
		}
	}
}

.mkd-comment-form {
	margin-bottom: 40px;
}

.comment-respond {
	.comment-reply-title {
		margin-bottom: 15px;

		a {
			font-size: 16px;
		}
	}

	.logged-in-as {
		margin-bottom: 10px;
	}
}

.mkd-comment-text {

	.comment-respond {
		margin: 20px 0;
	}
}

%input-style {
	width: 100%;
	margin-bottom: 11px;
	padding: 10px 15px;
	border: 1px solid #f2f2f2;
	outline: 0;
	font-family: inherit;
	font-size: 13px;
	background-color: #fff;
	color: #969696;
	@include mkdBoxSizing(border-box);

	&:focus {
		border: 1px solid $first-main-color;
	}
}

body div.pp_default a.pp_next span:before,
body div.pp_default a.pp_previous span:before {
	color: #fff;
}

.wpcf7-form-control {
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz {
		@include inputStyle;
	}
}

input.wpcf7-form-control.wpcf7-submit.mkd-full-width-button {
	width: 100%;
}

.mkd-newsletter {
	margin: 0 auto;
	width: 96%;

	.mkd-grid-col-9,
	.mkd-grid-col-3 {
		padding: 0;
	}

	input.wpcf7-form-control.wpcf7-submit {
		border-radius: 0;
		display: block;
		width: 100%;
		padding: 21px 10px;
		min-width: 158px;
		line-height: 14px;
		font-size: 14px;
		text-transform: uppercase;
	}

	.wpcf7-form-control.wpcf7-text {
		padding: 19px 25px;
		font-size: 15px;
	}
}

.wpcf7-form .mkd-newsletter .wpcf7-form-control.wpcf7-text {
	margin-bottom: 0;
}

div.wpcf7 img.ajax-loader {
	position: absolute;
	top: 50%;
	@include mkdTransform(translateY(-50%));
	right: -25px;
}

p.mkd-center-button {
	text-align: center;
}

.mkd-grid-col-6.mkd-smaller-gutter {
	padding-left: 7px;
	padding-right: 7px;
}

.mkd-grid-col-12.mkd-smaller-gutter {
	padding-left: 7px;
	padding-right: 7px;
}

.wpcf7-form .mkd-grid-row-no-gutter.mkd-coming-soon .wpcf7-submit {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: block;
	width: 100%;
	min-width: 100%;
	padding: 14px 0;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact2 {
	min-width: 195px;
	min-height: 61px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $headings-font-family;
	background-color: #fff;
	border: 2px solid #fff;
	color: #929292;
}

wpcf7-form-control.wpcf7-textarea {

}

.mkd-center-button input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-bg).mkd-contact2 {
	@include mkdTransition(background-color .35s cubic-bezier(0.61, 0.92, 0, 0.21), border .35s cubic-bezier(0.61, 0.92, 0, 0.21));
}

.mkd-center-button input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-bg).mkd-contact2:hover {
	background-color: $first-main-color !important;
	border: 2px solid $first-main-color !important;
	color: #fff !important;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact3 {
	margin-top: 16px;
	text-transform: uppercase;
}

.wpcf7-form-control.wpcf7-date,
.wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-quiz,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
	background-color: rgba(255, 255, 255, 0.9);
}

.mkd-grid-row-no-gutter.mkd-coming-soon input.wpcf7-form-control.wpcf7-submit:not(.mkd-btn-custom-hover-color):hover {
	color: #fff !important;
}

.mkd-grid-row-no-gutter.mkd-coming-soon .mkd-grid-col-9 {
	padding-left: 0;
	padding-right: 0;
}

.mkd-grid-row-no-gutter.mkd-coming-soon.mkd-dark .wpcf7-form-control.wpcf7-text {
	background-color: #fafafa;
}

.mkd-grid-row-no-gutter.mkd-coming-soon.mkd-dark input.wpcf7-form-control.wpcf7-submit:hover {
	color: #fff !important;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact1:not(.mkd-btn-custom-hover-color):not(.mkd-btn-transparent):not(.mkd-btn-hover-outline):hover {
	color: #fff !important;
}

input.wpcf7-form-control.wpcf7-submit.mkd-contact2:not(.mkd-btn-custom-hover-color):not(.mkd-btn-transparent):not(.mkd-btn-hover-outline):hover {
	color: #fff !important;
}

.mkd-grid-row-no-gutter.mkd-coming-soon .mkd-grid-col-3 {
	padding-left: 0;
	padding-right: 0;
}

.mkd-subscription {
	margin: 0 auto;
	width: 49%;

	.mkd-grid-col-9,
	.mkd-grid-col-3 {
		padding: 0;
	}

	input.wpcf7-form-control.wpcf7-submit {
		border-radius: 0;
		padding: 9px 30px;
	}

	input.wpcf7-form-control.wpcf7-submit {
		border-radius: 0;
		display: block;
		width: 100%;
		min-width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding: 18px 27px;
	}
}

.post-password-form input[type='password'] {
	@include inputStyle;
}

#respond textarea,
#respond input[type='text'] {
	@include inputStyle(false);

	background-color: #fff;
}

#respond textarea {
	margin-top: 16px;
	padding-top: 23px;
	padding-bottom: 39px;
	margin-bottom: 19px;
}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */
.mkd-pagination-helper {
	display: none;
}

.mkd-pagination {

	ul {
		margin: 0;
		position: relative;
	}

	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 67px;

	.mkd-pagination-prev {
		position: absolute;
		top: 0;
		left: 0;

		a {
			padding-left: 34px;

			&:before {
				content: '\e875';
				font-family: 'Linearicons-Free';
				position: absolute;
				left: -10px;
				top: 1px;
				font-size: 20px;
			}
		}
	}

	.mkd-pagination-next {
		position: absolute;
		top: 0;
		right: 0;

		a {
			padding-right: 34px;

			&:before {
				content: '\e876';
				font-family: 'Linearicons-Free';
				position: absolute;
				right: -10px;
				top: 1px;
				font-size: 20px;
			}
		}
	}

	li.mkd-pagination-prev, li.mkd-pagination-next {
		span {
			font-size: 15px;
			text-transform: capitalize;
		}
	}

	li {
		text-align: center;
		display: inline-block;
		padding: 0 7px;

		&.active span {
			color: $first-main-color;
		}

		a,
		span {
			position: relative;
			display: inline-block;
			line-height: 44px;
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			font-family: $default-font-family;
			color: #969696;
			vertical-align: middle;
			text-decoration: none;
			cursor: pointer;
			white-space: nowrap;
			@include mkdBoxSizing(content-box);
		}

	}
}

/* ==========================================================================
   #Pagination styles - end
   ========================================================================== */

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - begin
   ========================================================================== */
.mkd-owl-slider {

	opacity: 0;
	visibility: hidden;

	.owl-item {
		@include mkdTransform(translateZ(0));
	}

	.owl-nav {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include mkdTransform(translateY(-50%));
			left: 2%;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include mkdTransform(translateY(-50%));
			right: 2%;
		}

		.mkd-prev-icon,
		.mkd-next-icon {
			display: inline-block;
			width: 42px;
			height: 42px;
			text-align: center;

			i {
				font-size: 40px;
				color: #fff;
			}

		}

	}

	.owl-dots {
		text-align: center;

		.owl-dot {
			display: inline-block;
		}

		.owl-dot span {
			display: inline-block;
			width: 12px;
			height: 12px;
			margin: 3px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			background: #e3e3e3;

			@include mkdBorderRadius(20px);
		}

		.owl-dot.active span {
			opacity: 1;
		}

	}

}

.mkd-carousel-pagination {
	.owl-dots {
		text-align: center;
	}

	.owl-dot {
		display: inline-block;
	}

	.owl-dot span {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin: 0 3px;
		background-color: #484848;

		@include mkdBorderRadius(50%);
		@include mkdTransition(background-color 0.25s);
	}

	&.mkd-carousel-pagination-light {
		.owl-dot span {
			background-color: #fff;
		}
	}

	.owl-dot span {
		background-color: #d3d3d3 !important;
	}

	.owl-dot.active span {
		background-color: #acacac !important;
	}
}

/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.mkd-404-page {
	padding: 0;
}

.error404 {
	.mkd-page-header,
	.mkd-top-bar {
		display: none;
	}

	.mkd-full-width-inner.mkd-404-page {
		background-repeat: no-repeat;
		background-size: cover;
	}

	.mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner,
	.mkd-content .mkd-content-inner > .mkd-full-width > .mkd-full-width-inner {
		padding: 0;
	}
}

@media only screen and (max-width: map-get($breakpoints, vertical-menu-laptop-landscape)) {
	.error404 .mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner,
	.error404 .mkd-content .mkd-content-inner > .mkd-full-width > .mkd-full-width-inner,
	.mkd-404-page {
		height: auto !important;
	}
}

.mkd-page-not-found {
	text-align: center;

	.mkd-btn.mkd-btn-hover-outline:not(.mkd-btn-custom-border-hover) {
		&:hover {
			border-color: #fff !important;
		}
	}

	.mkd-btn-text {
		text-transform: uppercase;
	}

	h1 {
		width: 50%;
		margin: 0 auto;
		margin-top: 0;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	p {
		width: 50%;
		color: #fff;
		margin: 0 auto;
		font-size: 18px;
	}

	h4 {
		margin-bottom: 30px;
	}
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */

#mkd-back-to-top {
	display: block;
	position: fixed;
	right: 24px;
	bottom: 24px;
	margin: 0;
	width: 48px;
	height: 48px;
	opacity: 0;
	visibility: hidden;
	z-index: 10000;
	color: $first-main-color;
	text-align: center;
	background-color: $first-main-color;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	@include mkdTransition(all .35s cubic-bezier(0.61, 0.92, 0, 0.21));

	&:hover {
		@include mkdTransform(translate3d(0,-12px,0));
	}

	@include mkdBoxSizing(border-box);
	@include mkdTransition(all .35s cubic-bezier(0.61, 0.92, 0, 0.21));
	@include mkdBoxShadow(0px 0px 3px 0px rgba(163, 163, 163, 0.45));

	.mkd-back-to-top-text {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $headings-font-family;
	}

	.mkd-icon-stack {
		line-height: 20px;
		font-size: 20px;
		color: #fff;
		position: relative;
		top: 13px;
	}

	&.off {
		opacity: 0;
		visibility: hidden;
		@include mkdTransform(translate3d(0,24px,0));
	}

	&.on {
		opacity: 1;
		visibility: visible;
		@include mkdTransition(all .35s cubic-bezier(0.61, 0.92, 0, 0.21));
		@include mkdTransform(scale(1));

		&:hover {
			@include mkdTransform(translate3d(0,-6px,0));
		}

		&:focus {
			@include mkdTransform(translate3d(0,-12px,0));
			opacity: 0;
		}
	}

	&:hover {
		@include mkdBoxShadow(0px 0px 5px 0px rgba(163, 163, 163, 0.65));
	}
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.mkd-self-hosted-video-holder {
	.mkd-video-wrap {
		.mejs-container,
		.mejs-overlay-play {
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

.widget.mkd-latest-posts-widget {
	h5.box_header {
		color: #505050;
		font-family: $headings-font-family;
		line-height: 1.3em;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

.mkd-portfolio-single-holder .mkd-portfolio-single-likes .mkd-like.liked {
	color: $first-main-color;
}

.widget.timetable_sidebar_box {
	position: relative;

	h5.box_header {
		color: #505050;
		font-family: $headings-font-family;
		line-height: 1.3em;
		font-weight: 600;
		text-transform: uppercase;
	}

	&.mkd-latest-posts-widget {
		margin-bottom: 42px;

		h3 {
			margin-bottom: 23px;
		}
	}

	&.widget_categories {
		margin-bottom: 30px;
		margin-top: 39px;

		ul li {
			list-style: none;
			position: relative;
			transition: color .2s ease-out;
			color: #a4a2a2;
			margin-top: 10px;
			margin-bottom: 10px;

			a {
				font-family: $default-font-family;
				font-size: 16px;
				font-weight: 400;
				line-height: 25px;
				color: #505050;
				padding-bottom: 10px;
				padding-top: 10px;

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}

	&.widget_search input[type=text] {
		font-size: 16px;
		font-weight: 400;
		width: 100%;
		overflow: hidden;
		background-color: #fff;
		padding: 0 18px;
		height: 51px;
		line-height: 51px;
		outline: 0;
		color: #7f8385;
		font-family: inherit;
		border: 1px solid #ebebeb;
		border-right: none;
		float: left;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-sizing: border-box;
	}

	&.widget_search input[type=submit] {
		position: absolute;
		right: 0;
		outline: 0;
		font-family: Simple-Line-Icons;
		width: 51px;
		height: 47px;
		cursor: pointer;
		color: #f7972f;
		background-color: #fff;
		border: 1px solid #ebebeb;
		border-left: none;
		font-size: 18px;
		border-radius: 0;
	}
}

.wpcf7-form-control-wrap input[type=text]::-webkit-input-placeholder,
.wpcf7-form-control-wrap input[type=email]::-webkit-input-placeholder,
.wpcf7-form-control-wrap textarea::-webkit-input-placeholder {
	color: #929292;
}

/* ==========================================================================
   #Default sidebar styles - start
   ========================================================================== */
aside.mkd-sidebar,
.wpb_widgetised_column {

	p {
		font-weight: 500;
	}

	.widget_search input[type=text]::-webkit-input-placeholder {
		color: #808080;
		font-size: 16px;
		font-weight: 400;
		font-family: $default-font-family;
	}

	.widget_search input[type=text]:-moz-placeholder {
		color: #808080;
		font-size: 16px;
		font-weight: 400;
		font-family: $default-font-family;
	}

	.widget_search input[type=text]::-moz-placeholder {
		color: #808080;
		font-size: 16px;
		font-weight: 400;
		font-family: $default-font-family;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #808080;
		font-size: 16px;
		font-weight: 400;
		font-family: $default-font-family;
	}

	.widget_search input[type=text]:-ms-input-placeholder {
		color: #808080;
		font-size: 16px;
		font-weight: 400;
		font-family: $default-font-family;
	}

	.widget {

		margin-bottom: 39px;

		h3 {
			margin-bottom: 15px;
			font-family: $default-font-family;
		}

		&.mkd-latest-posts-widget {
			margin-bottom: 42px;

			h3 {
				margin-bottom: 23px;
			}

			.mkd-blog-list li {
				border-bottom: 0;
			}

			.mkd-image-in-box h6.mkd-item-title a {
				font-family: $default-font-family;
				font-size: 18px;
				line-height: 24px;
				font-weight: 400;
				color: #505050;
			}

			.mkd-image-in-box .mkd-item-date {
				color: $first-main-color;
				font-size: 14px;
				font-family: $default-font-family;
			}

		}

		&.widget_search {
			margin-bottom: 45px;
		}

		&.mkd-contact-form-7-widget {
			background-size: cover;
			background-repeat: no-repeat;

			textarea.wpcf7-form-control.wpcf7-textarea {
				height: 120px;
			}

			p {
				margin: 6px 0;
			}

			input[type=text]::-webkit-input-placeholder,
			input[type=email]::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				font-size: 14px;
			}

			input[type=text]:-moz-placeholder,
			input[type=email]:-moz-placeholder,
			textarea:-moz-placeholder {
				font-size: 14px;
			}

			input[type=text]::-moz-placeholder,
			input[type=email]::-moz-placeholder,
			textarea::-moz-placeholder {
				font-size: 14px;
			}

			input[type=text]:-ms-input-placeholder,
			input[type=email]:-ms-input-placeholder,
			textarea:-ms-input-placeholder {
				font-size: 14px;
			}

			.wpcf7-form-control.wpcf7-text,
			.wpcf7-form-control.wpcf7-textarea {
				padding: 9px 13px;
				margin-bottom: 7px;
			}

			input.wpcf7-form-control.wpcf7-submit {
				@include mkdBorderRadius(0);

				&:hover {
					color: #fff !important;
				}
			}

			h5 span.mkd-sidearea-title {
				white-space: inherit;
			}

			&.mkd-widget-cf-boxed {
				padding: 15px 29px 3px 30px;
				border: 1px solid #ebebeb;

				@include mkdBoxSizing(border-box);

				input.wpcf7-form-control.wpcf7-submit.mkd-full-width-button {
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					font-family: $headings-font-family;
				}
			}

			&.mkd-widget-cf-light {
				color: #fff;

				h5 span {
					color: #fff;
				}
			}

			.mkd-contact-form-title h5 {
				font-size: 30px;
				font-weight: 300;
				text-transform: capitalize;
				color: #242625;
				margin-bottom: 32px;
			}

			.mkd-contact-form-text h5 {
				font-size: 15px;
				font-weight: 400;
				line-height: 1.7em;
				margin-bottom: 20px;

				span.mkd-sidearea-title {
					white-space: normal;
				}
			}

		}

		&.widget_mkd_html_widget {
			margin-bottom: 15px;
		}

		&.widget_text {
			margin-bottom: 12px;

			select {
				border-right: 1px solid #ebebeb !important;
			}

		}

		&.widget_archive select {
			border-right: 1px solid #ebebeb !important;
		}

		ul li {

			a {
				font-size: 16px;
				font-weight: 400;
				display: inline-block;
				font-family: $default-font-family;
				color: #505050;
			}
		}

		ul {
			list-style: none;
		}

		&.widget_price_filter,
		&.widget_product_categories {
			margin-bottom: 45px;
		}

		&.widget_products {
			margin-bottom: 40px;
		}

		&.widget_top_rated_products {
			margin-bottom: 38px;
		}

		.searchform {
			position: relative;
			padding-right: 50px;
			background-color: #fbfbfc;

			input[type=text] {
				width: 100%;
			}

			input[type=submit] {
				position: absolute;
				right: 0;
			}
		}

		.searchform input[type=submit] {
			outline: 0;
			font-family: 'Simple-Line-Icons';
			width: 51px;
			height: 51px;
			cursor: pointer;
			color: $first-main-color;
			background-color: #fff;
			border: 1px solid #ebebeb;
			border-left: none;
			font-size: 18px;

			@include mkdBorderRadius(0);
		}

		&.widget_archive select,
		&.widget_categories select,
		.searchform input[type=text],
		&.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			padding: 0 18px;
			height: 51px;
			line-height: 51px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: 1px solid #ebebeb;
			border-right: none;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include mkdBoxSizing(border-box);
		}

		h3 {

			span.mkd-sidearea-title {
				padding-right: 11px;
				display: table-cell;
				width: 1%;
				white-space: nowrap;
				line-height: inherit;
			}
		}

		&.widget_tag_cloud {
			margin-top: 40px;
		}

		&.widget_categories {
			margin-bottom: 30px;
			margin-top: 39px;

			h3 {
				margin-bottom: 15px;
			}

			select {
				border-right: 1px solid #ebebeb !important;
			}

			li {
				a {
					font-family: $default-font-family;
					font-size: 16px;
					font-weight: 400;
					line-height: 25px;
					color: #505050;
				}

			}

			ul li {
				position: relative;
				@include mkdTransition(color 0.2s ease-out);

				a:hover {
					color: $first-main-color;
				}

				a {
					padding-bottom: 10px;
					padding-top: 10px;

					.mkd-category-color {
						display: inline-block;
						width: 6px;
						margin-left: 4px;
						position: absolute;
						top: 20px;
						left: 11px;

						@include mkdBorderRadius(50%);
					}

					.mkd-category-name {
						padding-left: 39px;
					}
				}
			}

			ul {
				margin-top: 0;
			}

		}

		&.widget_recent_comments {

			ul li a:hover {
				color: $first-main-color;
			}

			li.recentcomments {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		&.widget_rss ul li {
			padding-bottom: 10px;
			padding-top: 10px;

			a:hover {
				color: $first-main-color;
			}
		}

		&.widget_nav_menu {

			.menu-elements-container ul li {
				border-bottom: 1px solid #ebebeb;
			}

			.menu-elements-container ul li:last-child {
				border-bottom: 0 !important;
			}

			.menu-elements-container ul.sub-menu {
				border-top: 1px solid #ebebeb;
			}

			ul.menu li a {
				padding-top: 10px;
				padding-bottom: 10px;
				display: block;

				&:hover {
					color: $first-main-color;
				}
			}

			ul.sub-menu {

				> li {

					&:first-child {
						border-top: 0;
					}
				}
			}

			.current-menu-item > a {
				color: $first-main-color;
			}

			.menu-item-has-children > a {
				position: relative;

				&:after {
					content: '\35';

					position: absolute;
					right: 0;

					font-family: 'ElegantIcons';
					font-size: 12px;
					color: #cacaca;

					@include mkdTransitionTransform(0.2s, ease-out);
				}

				&.mkd-custom-menu-active {
					&:after {
						@include mkdTransform(rotate(90deg));
					}
				}
			}

			li:last-child {
				a {
					padding-bottom: 10px !important;
				}
			}

			.sub-menu {
				display: none;
			}

			.current-menu-ancestor > .sub-menu,
			.current-menu-parent > .sub-menu {
				display: block;
			}
		}

		&.widget_calendar,
		&.widget_pages {
			margin-top: 80px;
		}

		&.widget_meta ul li {

			a {
				padding-bottom: 10px;
				padding-top: 10px;

				&:hover {
					color: $first-main-color;
				}
			}
		}

		&.widget_pages ul li {

			ul.children {

				li:last-child {
					border-bottom: 0;
				}
			}

			a {
				padding-bottom: 10px;
				padding-top: 10px;

				@include mkdTransition(color 0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}

		}

		&.widget_product_tag_cloud .tagcloud a,
		&.widget_tag_cloud .tagcloud a {
			display: inline-block;
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			font-size: 11px !important;
			color: #a4a2a2;
			background-color: #fff;
			border: 1px solid #ebebeb;
			padding: 3px 13px;
			margin-bottom: 8px;

			@include mkdTransition(color 0.2s ease-out, border 0.2s ease-out, background-color 0.2s ease-out);

			&:hover {
				color: #fff;
				background-color: $first-main-color;
				border: 1px solid $first-main-color;
			}
		}

		&.widget_tag_cloud {

			h3 {
				margin-bottom: 26px;
			}
		}

		&.widget_archive ul li {
			position: relative;

			@include mkdTransition(color 0.2s ease-out);

			a {
				font-family: $default-font-family;
				font-size: 16px;
				line-height: 25px;
				font-weight: 400;
				padding-bottom: 10px;
				padding-top: 10px;

				@include mkdTransition(color 0.2s ease-out);
			}

			&:hover {
				color: $first-main-color;
			}

			&:hover a {
				color: $first-main-color;
			}

			&:hover:before {
				color: $first-main-color;
			}
		}

		&.widget_mkd_instagram_widget {
			h3 {
				margin-bottom: 26px;
			}
		}

		&.widget_mkd_twitter_widget {
			margin-bottom: 29px;

			h3 {
				margin-bottom: 24px;
			}

			.mkd-tweet-icon {
				display: inline-block;
				color: $first-main-color;
				float: left;
				font-size: 18px;
				@include mkdTransition(color 0.2s ease-out);

				&:hover {
					color: #3b3b3b;
				}
			}

			.mkd-tweet-holder,
			.mkd_tweet_time {
				margin-left: 40px;
				line-height: 23px;
			}

			ul.mkd_twitter_widget li {
				margin-bottom: 25px;
				padding-bottom: 25px;
			}

			.mkd_tweet_text {
				font-size: 15px;
				color: #707070;
			}
		}

	}

}

@include ipad-portrait {
	.mkd-two-columns-66-33 > .mkd-column1,
	.mkd-two-columns-66-33 > .mkd-column2,
	.mkd-two-columns-33-66 > .mkd-column1,
	.mkd-two-columns-33-66 > .mkd-column2,
	.mkd-two-columns-75-25 > .mkd-column1,
	.mkd-two-columns-75-25 > .mkd-column2,
	.mkd-two-columns-25-75 > .mkd-column1,
	.mkd-two-columns-25-75 > .mkd-column2,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column {
		width: 100%;
	}

	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner,
	.mkd-three-columns > .mkd-three-columns-inner,
	.mkd-four-columns > .mkd-four-columns-inner,
	.mkd-five-columns > .mkd-five-columns-inner {
		margin: 0;
	}

	.mkd-two-columns-66-33 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-66-33 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column > .mkd-column-inner,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column > .mkd-column-inner {
		padding: 0;
	}
}

@include ipad-landscape {
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column2 {
		width: 100%;
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner {
		padding-right: 0;
	}

	.mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
		padding-left: 0;
	}
}

/* ==========================================================================
   #Default sidebar styles - end
   ========================================================================== */

/* ==========================================================================
   #Row  - start
   ========================================================================== */

.vc_row.wpb_row.vc_row-fluid.mkd-video {
	overflow: hidden;
}

/* ==========================================================================
   #Row  - end
   ========================================================================== */