$grid-width: 1100px;
$grid-width-laptop-wide-landscape: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-vertical-menu-laptop-landscape: 850px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 95%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 96%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$first-main-color: #f7972f;
$default-background-color: #fff;

$header-light-color: #fff;
$header-dark-color: #505050;

//typography variables
$default-font-family: 'Open Sans', sans-serif;
$default-text-color: #a4a2a2;
$default-text-size: 16px;
$default-text-line-height: 26px;
$headings-font-family: 'Raleway', sans-serif;
$headings-text-color: #505050;
$headings-text-line-height: 1.3em;
$elements-box-shadow-color: rgba(0, 0, 0, 0.08);
$shop-price-color: $first-main-color;

//responsive breakpoints
//$large-laptop: 1400px;
//$mac: 1280px;
//$laptop-landscape: 1200px;
//$ipad-landscape: 1024px;
//$ipad-portrait: 768px;
//$phone-landscape: 600px;
//$phone-portrait: 480px;
//$smaller-phone-portrait: 320px;
$ipad-portrait-plus-pixel: 769px;
$phone-portrait-plus-pixel: 481px;

$breakpoints: (
		vertical-menu-laptop-wide-landscape: 1650px,
		vertical-menu-laptop-landscape: 1490px,
		large-laptop: 1400px,
		vertical-menu-ipad-landscape: 1314px,
		mac: 1280px,
		laptop-landscape: 1200px,
		ipad-landscape: 1024px,
		ipad-portrait: 768px,
		phone-landscape: 600px,
		phone-portrait: 480px,
		smaller-phone-portrait: 320px
);

$vertical-menu-width: 260px;

// social share colors
$linkedin-color: #007bb5;
$googleplus-color: #ff4047;
$tumblr-color: #32506d;
$pinterest-color: #cb2027;
$facebook-color: #3b5998;
$instagram-color: #125688;
$twitter-color: #00aced;
$vimeo-color: #aad450;

// box shadow
$shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.07);



