@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.mkd-header-vertical {
	.mkd-content,
	footer {
		padding-left: $vertical-menu-width;

		@include mkdBoxSizing(border-box);
	}

	.mkd-vertical-dropdown-float .second .inner ul li a:hover {
		color: $first-main-color;
	}

	.mkd-vertical-menu-area {
		position: fixed;
		width: $vertical-menu-width;
		top: 0;
		left: 0;
		padding: 35px 25px;
		background-color: transparent;
		height: 100%;
		z-index: 101;
		-webkit-backface-visibility: hidden;
		outline: none;

		@include mkdBoxSizing(border-box);

		.mkd-vertical-menu-area-inner {
			position: relative;
			height: 100%;
		}
	}

	&.admin-bar .mkd-vertical-menu-area {
		top: 33px;
	}

	.mkd-vertical-menu-area.mkd-with-scroll {
		overflow: hidden;
	}

	.mkd-vertical-area-background {
		position: fixed;
		width: $vertical-menu-width;
		height: 100%;
		background-position: right top;
		background-repeat: no-repeat;
		background-color: #f7f7f7;
		background-size: cover;
		top: 0;
		left: 0;
		z-index: 0;
		opacity: 1;

		@include mkdTransition(opacity 0.5s ease, background-color 0.5s ease);
	}

}

.mkd-header-vertical {
	.mkd-vertical-area-widget .mkd-iwt-icon-holder {
		color: #f00;
	}
}