.mkd-blog-holder {

	&.mkd-blog-single {

		&.mkd-blog-standard {

			.format-quote,
			.format-link {
				.mkd-content-category-share-holder {
					padding: 32px 0 0 0;
					background-color: #fff;
				}

				.mkd-category-share-holder {
					background-color: #fff;
				}

			}

			.format-quote .mkd-post-mark {
				position: absolute;
				bottom: 21px;
				right: 26px;
				font-size: 36px;
				color: #fff;
			}

			.format-link {

				.mkd-post-content {
					position: relative;

					.mkd-post-image-text-holder {
						position: relative;
						background-size: cover;
						background-color: #7e7e7e;

						.mkd-post-title {
							@include mkdTransition(opacity 0.25s ease-in-out);

							a:before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
							}
						}

						&:hover {
							.mkd-post-title {
								opacity: 0.85;
							}
						}
					}

					.mkd-post-text {
						box-shadow: none;
						padding-bottom: 95px;
						padding-left: 30px;
					}

					.mkd-post-info-date {
						position: static;
					}

					.mkd-post-mark {
						position: absolute;
						bottom: 23px;
						right: 28px;
						font-size: 36px;
						color: #fff;
					}
				}
			}

			article.format-quote {
				.mkd-post-content .mkd-post-text {
					padding: 15px 57px 29px 37px;
					box-shadow: none;
				}
			}
		}
	}
}